body{
  margin:0;
  overflow:hidden;
  background-color: black;
}

#content{
  width:100%;
  height:100%;
  display:none;
}

/* EXIBIÇÃO DO AVISO */

@keyframes piscar {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


.aviso{
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content:center;
  text-align:center;
  font-size: 5vw;
  font-family:Arial;
  color:white;
}

.field-texto {
  width: 80vw;
  height: 90vh;
  display: flex;               
  justify-content: center;      
  align-items: center;          
  margin-left: 5vw;
  
}

.warning-image {
  width: 8vw;
  height: 8vw;
}


/* EXIBIÇÃO DO MAPA (IMAGEM) */
.imagemViewer{
  width: 70vw;
  height: 100vh;
  margin-left: 15vw;
  background:black;
}

/* EXIBIÇÃO DO ENSALAMENTO */
.tabela {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.linha {
  display: grid;
  grid-template-columns: repeat(20, 1fr); /* ajuste conforme */
}

.cell {
  border: 1px solid #333;
  padding: 5px;
  font-size: 1vw;
  text-align: center;
}

.header {
  background: #111;
  font-weight: bold;
}